.arrow {
  width: 255px;
  height: 140px;
  background-color: rgb(250 237 220);
  color: #000;
  border-top: 4px solid #ff9f1c;
  padding: 10px;
  position: relative;
  line-height: 1.6;
}
.arrow:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid #ff9f1c;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -28px;
}
